/* Defaults */
:root {
  --font-family: -apple-system, system-ui, sans-serif;
  --font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono,
    Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New,
    Courier, monospace;
}

/* Theme colors */
:root {
  --color-gray-20: #e0e0e0;
  --color-gray-50: #c0c0c0;
  --color-gray-90: #333;

  --background-color: #fff;

  --text-color: var(--color-gray-90);
  --text-color-link: #082840;
  --text-color-link-active: #5f2b48;
  --text-color-link-visited: #17050f;

  --syntax-tab-size: 2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-gray-20: #e0e0e0;
    --color-gray-50: #c0c0c0;
    --color-gray-90: #dad8d8;
    --color-gray-90-inverse: #333;

    /* --text-color is assigned to --color-gray-_ above */
    --text-color-link: #02ed16;
    --text-color-link-active: #96f769;
    --text-color-link-visited: #02edb5;
    --text-color-link-inverse: #082840;
    --text-color-link-active-inverse: #5f2b48;
    --text-color-link-visited-inverse: #17050f;

    --background-color: #15202b;
  }
}

/* Global stylesheet */
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
}
html {
  overflow-y: scroll;
}
body {
  max-width: 960px;
  min-height: 100vh;
  position: relative;
  font-size: clamp(0.8rem, 6vw, 1.1rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5rem 0 0 0;
}

h1 {
  font-size: clamp(2rem, 6vw, 3rem);
}
h2 {
  font-size: clamp(1.6rem, 6vw, 2.4rem);
}
h3 {
  font-size: clamp(1.4rem, 6vw, 2.2rem);
}
h4 {
  font-size: clamp(1.2rem, 6vw, 2rem);
}
h5 {
  font-size: clamp(1rem, 6vw, 1.8rem);
}
h6 {
  font-size: clamp(0.8rem, 6vw, 1.6rem);
}

h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
  margin-top: 0.2rem;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

p:last-child {
  margin-bottom: 0;
}
p {
  line-height: 1.5;
}

a[href] {
  color: var(--text-color-link);
}
a[href]:visited {
  color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
  color: var(--text-color-link-active);
}

main {
  padding: 1rem;
}
main :first-child {
  margin-top: 0;
}

header {
  border-bottom: 2px dotted var(--color-gray-20);
}
header:after {
  content: "";
  display: table;
  clear: both;
}

.links-nextprev {
  list-style: none;
  border-top: 1px dashed var(--color-gray-20);
  padding: 1em 0;
}

table {
  margin: 1em auto;
}
table td,
table th {
  padding-right: 1em;
}
thead tr th {
  border-bottom: 2px solid var(--color-gray-90);
}
tbody tr td {
  border-bottom: 1px solid var(--color-gray-90);
}

pre,
code {
  font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
  margin: 0.5em 0;
  line-height: 1.375; /* 22px /16 */
  -moz-tab-size: var(--syntax-tab-size);
  -o-tab-size: var(--syntax-tab-size);
  tab-size: var(--syntax-tab-size);
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
}
code {
  word-break: break-all;
}

/* Header */
header {
  display: flex;
  gap: 1em 0.5em;
  flex-wrap: wrap;
  align-items: center;
  padding: 1em;
}
.home-link {
  font-size: 5em;
  margin-right: 1em;
  text-decoration: none;
  transition: all 0.5s;
}
.home-link:hover {
  transform: scale(1.1);
}

/* Nav */
.nav {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav a[href][aria-current="page"] {
  text-decoration: underline;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.25em;
}

@media only screen and (min-width: 720px) {
  .postlist {
    grid-template-columns: 1fr 1fr;
  }
  .postlist-item {
    padding: 0.5em;
  }
  .postlist-item:nth-child(4n + 1),
  .postlist-item:nth-child(4n) {
    background-color: var(--color-gray-20);
    color: var(--color-gray-90-inverse);
  }

  .postlist-item:nth-child(4n + 1) a[href],
  .postlist-item:nth-child(4n) a[href] {
    color: var(--text-color-link-inverse);
  }
  .postlist-item:nth-child(4n + 1) a[href]:visited,
  .postlist-item:nth-child(4n) a[href]:visited {
    color: var(--text-color-link-visited-inverse);
  }
  .postlist-item:nth-child(4n + 1)a[href]:hover,
  .postlist-item:nth-child(4n + 1)a[href]:active,
  .postlist-item:nth-child(4n)a[href]:hover,
  .postlist-item:nth-child(4n)a[href]:active {
    color: var(--text-color-link-active-inverse);
  }
  .postlist-item:nth-child(4n + 1) time,
  .postlist-item:nth-child(4n) time {
    color: var(--color-gray-90-inverse);
  }
}

.postlist-date {
  word-spacing: -0.5px;
  display: block;
  text-align: right;
  font-style: italic;
}
.postlist-link {
  font-weight: 700;
  flex-basis: calc(100% - 1.5rem);
  padding-right: 0.5em;
  text-underline-position: from-font;
  text-underline-offset: 0;
  text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}

/* Tags */
.post-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  font-style: italic;
}
.postlist-item > .post-tag {
  align-self: center;
}

/* Tags list */
.post-metadata {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.5em;
  list-style: none;
  padding: 0;
  margin: 0 0 1em 0;
}
.post-metadata time {
  margin-right: 1em;
}

/* Direct Links / Markdown Headers */
.header-anchor {
  text-decoration: none;
  font-style: normal;
  font-size: 1em;
  margin-left: 0.1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
  color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
  text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
  color: #aaa;
}

h2 + .header-anchor {
  font-size: 1.5em;
}

.b-image {
  max-width: 100%;
  height: auto;
  aspect-ratio: 800 / 457 auto;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}
footer {
  position: absolute;
  bottom: 1px;
  width: 100%;
  background-color: var(--color-gray-20);
}
blockquote {
  font-weight: 100;
  line-height: 1.4;
  position: relative;
  margin: 0 0 0 1em;
  padding: 0 0 0 1em;
  border-left: 2px dashed var(--color-gray-50);
}

cite {
  line-height: 3;
  text-align: right;
  display: block;
}

ul.b-tags {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-template-rows: masonry;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
