---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts #}
{%- css %}{% include "node_modules/prismjs/themes/prism-coy.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}
<nav class="breadcrumbs" aria-label="Breadcrumb">
	<ol>
		<li><a href="/">Home</a></li>
		<li><a href="/blog/">Archive</a></li>
		<li aria-current="page">{{ title }}</li>
	</ol>
</nav>
<article data-pagefind-body>
<h1>{{ title }}</h1>

<ul class="post-metadata">
	<li><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
	<li class="post-author">By <a href="/about/" rel="author">{{ metadata.author.name }}</a></li>
	{%- for tag in tags | filterTagList %}
	{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag" data-pagefind-filter="tag">{{ tag }}</a></li>
	{%- endfor %}
</ul>

{%- set toc = content | tocFromContent %}
{%- if toc | length >= 3 %}
<nav class="toc" aria-labelledby="toc-heading" data-pagefind-ignore>
	<h2 id="toc-heading">On this page</h2>
	<ol>
	{%- for entry in toc %}
		<li><a href="#{{ entry.id }}">{{ entry.text }}</a></li>
	{%- endfor %}
	</ol>
</nav>
{%- endif %}

{{ content | safe }}
</article>

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
	{%- if previousPost %}<li>Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
	{%- if nextPost %}<li>Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}
